@model ProjetoEmTresCamadas.Pizzaria.Mvc.Models.PizzasViewModel

@{
    ViewData["Title"] = "Menu de Pizzas";
}
<style>
    .custom-image {
        width: 196px;
        height: 196px;
    }
</style>

<div class="container mt-4">
    <h2>Menu de Pizzas</h2>

    <div class="row">
        @foreach (var pizza in Model.Pizzas)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="/images/margherita.jpg" class="card-img-top custom-image" alt="Imagem da Pizza">
                    <div class="card-body">
                        <h5 class="card-title">@pizza.Sabor</h5>
                        <p class="card-text">@pizza.Descricao</p>
                        <p class="card-text">Tamanho: @pizza.TamanhoDePizza</p>
                        <p class="card-text">Valor: R$@pizza.Valor.ToString("0.00")</p>
                        <input type="number" class="form-control" placeholder="Quantidade" >
                        <button class="btn btn-primary mt-2" onclick="adicionarAoCarrinho(@pizza.Id)">Adicionar ao Carrinho</button>
                    
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div class="container mt-4">
    <h2>Cadastro de Pizzas</h2>

    <div class="row">
        <div class="card-body">
            <form asp-controller="Pizzas" asp-action="Cadastro" method="post">
                @* <input type="hidden" class="form-control" id="Id" name="Id" value="@ViewBag.Id" required> *@

                <div class="form-group">
                    <label for="TamanhoDePizza">TamanhoDePizza:</label>
                    <input type="text" class="form-control" id="TamanhoDePizza" name="TamanhoDePizza" required>
                </div>
                <div class="form-group">
                    <label for="sabor">Sabor:</label>
                    <input type="text" class="form-control" id="sabor" name="sabor" required>
                </div>
                <div class="form-group">
                    <label for="Descricao">Descricao:</label>
                    <input type="text" class="form-control" id="Descricao" name="Descricao" required>
                </div>
                <div class="form-group">
                    <label for="Valor">Valor:</label>
                    <input type="number" class="form-control" id="Valor" name="Valor" required>
                </div>
                <br />
                <button type="submit" class="btn btn-primary btn-block">Cadastro</button>
            </form>
        </div>
    </div>
</div>

@section scripts {
    <script>
        function adicionarAoCarrinho(pizzaId) {
            var quantidade = $('#' + pizzaId).val();

            $.post('/Carrinho/AdicionarAoCarrinho', { id: pizzaId, quantidade: quantidade })
                .done(function (data) {
                    alert('Pizza adicionada ao carrinho com sucesso!');
                })
                .fail(function () {
                    alert('Erro ao adicionar a pizza ao carrinho.');
                });
        }
    </script>
}